* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Poppins",sans-serif!important;

}

:root {
  --color-primario: #f9a328;
  --color-secundario: #0000;
  --color-tercer: #ffffff;
}

/* font-family: "Lora", serif; */
/* font-family: "Oswald", sans-serif; */
.navbar-nav .nav-item .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--color-primario);
  transition: color 0.3s ease-in-out;
}

.separator-header {
  font-size: 3rem;
  color: #9fa2a4;
  font-weight: 400;
}
.navbar-collapse {
  margin-right: 30px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-grow: 0;
    flex: inherit;
  }
}

.container-fluid-header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/header1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.playstore-button:hover {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.font-home {
  color: var(--color-tercer);
  font-size: 5rem;
}
.font-ipakket {
  font-weight: 800;
  color: var(--color-primario);
  font-size: 6rem;
  font-style: oblique;
}

@media (min-width: 375px) {
  .font-home {
    font-size: 4rem;
  }
  .font-ipakket {
    font-size: 5rem;
  }
}


/* about-emp */

.triangle{
  width: 100%;
  color: #fff;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  position: relative;
  background: #2B3035;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 95px 95px 95px;
  border-color: transparent transparent #f9a328 transparent;
  left: 13%;
  transform: translateX(-50%);

}


.img-ipakket{
  border-radius: 10px;
}

.text-start{
  font-size: 2rem;
 padding: 1rem; 
 white-space: pre-wrap;
}


@media (max-width: 426px) {
  .text-start{
  font-size: 1.6rem;
  padding: 0.4rem; 
  }
}
